{{form_start(authform)}}
<table>
<tr>
<td> {{form_label(authform.username,"Your name")}}</td>
<td> {{form_widget(authform.username)}}</td>
</tr>
<tr>
<td> {{form_label(authform.email,"Your Email")}} </td>
<td> {{form_widget(authform.email)}} </td>
</tr>
<tr>
<td> {{form_label(authform.age,"Your Age")}} </td>
<td> {{form_widget(authform.age)}} </td>
</tr>
</table>
{{form_end(authform)}}