{{ form_start(bookform) }}
<table>
<tr>
<td> {{ form_label(bookform.title, "Book Title") }}</td>
<td> {{ form_widget(bookform.title) }}</td>
</tr>
<tr>
<td> {{ form_label(bookform.pubDate, "Publication Date") }} </td>
<td> {{ form_widget(bookform.pubDate) }} </td>
</tr>
<tr>
<td> {{ form_label(bookform.author, "Author") }} </td>
<td> {{ form_widget(bookform.author) }} </td>
</tr>
</table>
{{ form_widget(bookform.enabled, { 'attr': {'value': 'true', 'style': 'display:none;'} }) }}
{{ form_end(bookform) }}
